:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Prevent header from shrinking */
  }

  app-users-list {
    flex: 1;
    overflow: hidden;
  }

  @media (max-width: 600px) {
    header {
      height: 100px;
    }
  }

}